<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
xmlns:rim="http://www.blackberry.com/ns/widgets"
           id="cordova-plugin-ocr-recog"
      version="1.0.1">
    <name>RecognizeID</name>

    <description>Recognize ID number Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,media,capture</keywords>
    <repo>https://git-wip-us.apache.org/repos/asf/cordova-plugin-media-capture.git</repo>
    <issue>https://issues.apache.org/jira/browse/CB/component/12320646</issue>

    <dependency id="cordova-plugin-file" version="^4.0.0" />
    <dependency id="cordova-plugin-compat" version="^1.0.0" />

    <js-module src="www/CaptureAudioOptions.js" name="CaptureAudioOptions">
        <clobbers target="CaptureAudioOptions" />
    </js-module>

    <js-module src="www/CaptureImageOptions.js" name="CaptureImageOptions">
        <clobbers target="CaptureImageOptions" />
    </js-module>

    <js-module src="www/CaptureVideoOptions.js" name="CaptureVideoOptions">
        <clobbers target="CaptureVideoOptions" />
    </js-module>

    <js-module src="www/CaptureError.js" name="CaptureError">
        <clobbers target="CaptureError" />
    </js-module>

    <js-module src="www/MediaFileData.js" name="MediaFileData">
        <clobbers target="MediaFileData" />
    </js-module>

    <js-module src="www/MediaFile.js" name="MediaFile">
        <clobbers target="MediaFile" />
    </js-module>

    <js-module src="www/helpers.js" name="helpers">
        <runs />
    </js-module>

    <js-module src="www/capture.js" name="capture">
        <clobbers target="navigator.device.capture" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <framework src="com.google.android.gms:play-services-vision:11.0.4" />
        <framework src="com.android.support:design:26.0.0-alpha1" />
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Capture" >
                <param name="android-package" value="org.apache.cordova.mediacapture.Capture"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-feature android:name="android.hardware.camera" />
            <uses-feature android:name="android.hardware.camera.autofocus" />
            
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">             
            <activity
                android:name="com.creative.idrecognition.MainActivity"
                android:label="@string/title_activity_main" >
            </activity>

            <activity android:name="com.creative.idrecognition.OcrCaptureActivity"
                android:theme="@android:style/Theme.DeviceDefault.NoActionBar" />
        </config-file>
        

        <source-file src="src/android/Capture.java" target-dir="src/org/apache/cordova/mediacapture" />
        <source-file src="src/android/FileHelper.java" target-dir="src/org/apache/cordova/mediacapture" />
        <source-file src="src/android/PendingRequests.java" target-dir="src/org/apache/cordova/mediacapture" />
        <source-file src="src/android/com/creative/idrecognition/MainActivity.java" target-dir="src/com/creative/idrecognition/" />
        <source-file src="src/android/com/creative/idrecognition/OcrCaptureActivity.java" target-dir="src/com/creative/idrecognition/" />
        <source-file src="src/android/com/creative/idrecognition/OcrDetectorProcessor.java" target-dir="src/com/creative/idrecognition/" />
        <source-file src="src/android/com/creative/idrecognition/OcrGraphic.java" target-dir="src/com/creative/idrecognition/" />
        <source-file src="src/android/com/creative/idrecognition/ui/camera/CameraSource.java" target-dir="src/com/creative/idrecognition/ui/camera/" />
        <source-file src="src/android/com/creative/idrecognition/ui/camera/CameraSourcePreview.java" target-dir="src/com/creative/idrecognition/ui/camera/" />
        <source-file src="src/android/com/creative/idrecognition/ui/camera/GraphicOverlay.java" target-dir="src/com/creative/idrecognition/ui/camera/" />
        <source-file src="src/android/com/creative/idrecognition/ui/camera/FocusBox.java" target-dir="src/com/creative/idrecognition/ui/camera/" />
        <source-file src="src/android/com/creative/idrecognition/ExtraViews/FocusBoxUtils.java" target-dir="src/com/creative/idrecognition/ExtraViews/" />
        <source-file src="src/android/com/creative/idrecognition/ExtraViews/FocusBoxView.java" target-dir="src/com/creative/idrecognition/ExtraViews/" />


        <resource-file src="src/android/res/layout/activity_main.xml" target="res/layout/activity_main.xml" />
        <resource-file src="src/android/res/layout/ocr_capture.xml" target="res/layout/ocr_capture.xml" />
        <resource-file src="src/android/res/layout-land/activity_main.xml" target="res/layout-land/activity_main.xml" />
        <resource-file src="src/android/res/layout-land-v17/activity_main.xml" target="res/layout-land-v17/activity_main.xml" />
        <resource-file src="src/android/res/layout-v17/activity_main.xml" target="res/layout-v17/activity_main.xml" />
        <resource-file src="src/android/res/values/strings.xml" target="res/values/recog_strings.xml" />
        <resource-file src="src/android/res/values/colors.xml" target="res/values/recog_colors.xml" />
        <resource-file src="src/android/res/drawable/flash_on.png" target="res/drawable/flash_on.png" />
        <resource-file src="src/android/res/drawable/flash_off.png" target="res/drawable/flash_off.png" />

        <js-module src="www/android/init.js" name="init">
            <runs />
        </js-module>
    </platform>

</plugin>
